/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}

div{
	padding: 10px;
}

.div1{
	background-color: #ffffff;
}

.div2{
	background-color: #ffffff;
}

testimonial{
	padding: 0px;
	background-color: white;
}

text{
	style: normal;
}

author{
	text-align: right;
	font-style: italic;
}

